<template>
  <div>
    <h1>Are you ready for some beers?</h1>
    <p v-if="apiDown">Beer API is down. Shame, shame!</p>
    <p v-if="isInvalid">Your code seems to be invalid!</p>
    <p>
      <label for="pin">
        <input type="number" id="pin" v-model="pinValue">
      </label>
      <label for="_button" :class="{'active': ready}" class="toggle__button">
          <input type="checkbox" id="_button" v-model="checkedValue">
          <span class="toggle__switch"></span>
      </label>
    </p>
    <h2 v-if="ready">Yes, I'm ready!</h2>
    <h2 v-if="!ready">Fuck it! I want to be sober today!</h2>
    <p>
      <img v-if="ready" src="./../assets/beer.jpeg" alt="beer">
      <img v-if="!ready" src="./../assets/sober.png" alt="beer">
    </p>
  </div>
</template>

<script>
import axios from "axios"

const API_URL = "https://beer-api.kozak.in"

export default {
    props: {},
    data() {
        axios.get(API_URL + "/api/ready")
        .then(response => {
            this.ready = response.data.ready
          }
        )
        .catch(() => {
            this.apiDown = true
        })

        return {
            ready: false,
            isInvalid: false,
            apiDown: false,
            pin: ""
        }
    },
    computed: {
        checkedValue: {
            get() {
                return this.ready;
            },
            set(newValue) {
              let data = {
                "ready": newValue,
                "pin": parseInt(this.pinValue)
              }

              axios.post(API_URL + "/api/ready", data, {
                  headers: {
                      "Content-Type": "text/plain"
                  }
              })
                .then(response => {
                    this.ready = response.data.ready;
                    this.isInvalid = false
                  }
                )
                .catch(() => {
                    this.isInvalid = true
                })
            }
        },
        pinValue: {
            get() {
                return this.pin
            },
            set(newValue) {
                this.pin = newValue
            }
        }
    }
}
</script>

<style scoped>
.toggle__button {
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}
.toggle__button input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
}
.toggle__button .toggle__switch {
    display:inline-block;
    height:12px;
    border-radius:6px;
    width:40px;
    background: #BFCBD9;
    box-shadow: inset 0 0 1px #BFCBD9;
    position:relative;
    margin-left: 10px;
    transition: all .25s;
}
.toggle__button .toggle__switch::after, 
.toggle__button .toggle__switch::before {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    left: 0;
    top: -3px;
    transform: translateX(0);
    transition: all .25s cubic-bezier(.5, -.6, .5, 1.6);
}
.toggle__button .toggle__switch::after {
    background: #4D4D4D;
    box-shadow: 0 0 1px #666;
}
.toggle__button .toggle__switch::before {
    background: #4D4D4D;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
    opacity:0;
}
.active .toggle__switch {
    background: #adedcb;
    box-shadow: inset 0 0 1px #adedcb;
}
.active .toggle__switch::after,
.active .toggle__switch::before{
    transform:translateX(40px - 18px);
}
.active .toggle__switch::after {
    left: 23px;
    background: #53B883;
    box-shadow: 0 0 1px #53B883;
}
</style>
